{% extends 'base.html.twig' %}

{% block title %}{{parent()}}A propos{% endblock %}


{% block body %}


Bienvenue dans la page a propos!!
</p></div>
<div>

{{ form(formContact) }}

</div>

{% endblock %}
