<header>
	<div class="container">

		<div id="divlogo">

			<img id="logo"  alt="">
		</div>

		<div id="divNav">
			<nav>
				<ul>
					<li><a href="">Accueil</a></li>
					<li><a href="">Contact</a></li>
										<li><a href="">Deconnecter</a></li>
					<li><a href="">Connection</a></li>
				</ul>
			</nav>
		</div>
	</div>
	

<script src={{asset('js/test.js')}}></script>
{# si on veux applle un script js#}
